<html>
<head>
<title>posgrep demo search result</title>
<style type="text/css">
.emphasis {
  background-color:#ff0000;
  color:#fff;
}
</style>
</head>
<body>

<div style="margin:auto;width:700px">
<% for r in @results %>
  <p><%= r %></p>
<% end %>
</div>
</body></html>
